body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    margin-bottom: 20px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #add8e6; /* Borde azul claro */
    border-radius: 5px;
    font-size: 1em;
}

button, input[type="submit"] {
    background-color: #add8e6; /* Azul claro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover, input[type="submit"]:hover {
    background-color: #87ceeb; /* Azul más oscuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #e6f2ff; /* Fondo muy claro */
    border-radius: 5px;
}

strong {
    color: #005f99;
}