<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Página de Bienvenida</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="home-body">
    <div class="home-container">
        <h1 class="home-title">Bienvenid@ a DukeMovieApp</h1>
        <p class="home-links">
            <a href="{% url 'register' %}" class="btn-home">Registrarse</a>
            <a href="{% url 'login' %}" class="btn-home">Iniciar sesión</a>
        </p>
    </div>
</body>
</html>
